.media {
  max-width: 100vw;
  overflow: hidden;
  background-color: $color-grey-light;
}

#media-swiper {
  margin: 0 auto;
  max-width: 85vw;
  overflow: visible;
  & .swiper-wrapper {
    width: 42rem;
    height: 24rem;
  }

  & .swiper-slide {
    width: 100%;
    height: 100%;
    position: relative;

    & > .s__content {
      color: $color-white;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      & > .logo {
        width: 90%;
        margin: 0 auto;
        padding-top: 2rem;
        display: flex;
        justify-content: end;
      }

      & > .copy {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 1.7rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      & > .copy2 {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 1.7rem;
        display: flex;
        align-items: center;
        justify-content: end;
      }
    }
  }
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: $color-black;
}

.swiper-pagination {
  position: relative;
  margin-top: 2.5rem;
  margin-bottom: 1 rem;
}

.image-small {
  height: 100%;

  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.item__image {
  width: 170px;
  height: 170px;
  position: absolute;
  top: 15%;
  left: 6%;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.8rem;
  }
}

.s1 {
  background: $gradient, $color-black;
}

.s4 {
  background: $gradient, rgb(34, 34, 183);
}

.s7 {
  background: $gradient, rgb(80, 80, 80);
}

.center-text {
  color: $color-white;
  height: 100%;
  transform: translate(48%, 50%);
}
